<p id="notice"><%= notice %></p>

<h1>Listing Alarms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Note</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>User</th>
      <th>Address</th>
      <th>Radius</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alarms.each do |alarm| %>
      <tr>
        <td><%= alarm.title %></td>
        <td><%= alarm.note %></td>
        <td><%= alarm.latitude %></td>
        <td><%= alarm.longitude %></td>
        <td><%= alarm.user_id %></td>
        <td><%= alarm.address %></td>
        <td><%= alarm.radius %></td>
        <td><%= alarm.status %></td>
        <td><%= link_to 'Show', alarm %></td>
        <td><%= link_to 'Edit', edit_alarm_path(alarm) %></td>
        <td><%= link_to 'Destroy', alarm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alarm', new_alarm_path %>
